@media screen and (min-width: 1px) and (max-width: 300px) {
    body {
        background-color: red;
        font-size: 15px;
        box-sizing: border-box;
        position: absolute;
    }

}
@media screen and (min-width: 301px) and (max-width: 767px) {
    body {
        background-color: green;
        font-size: 25px;
        box-sizing: border-box;
        position: absolute;

    }
    div.small {
        float:left;
        display:inline;
        width: 66%;
        margin: 10px;
        border-style: solid;
        padding: 10px;
    }
    div.medium {
        float:left;
        display:inline;
        width: 33%;
        margin: 10px;
        border-style: solid;
        padding: 10px;
    }
    div.large {
        float:bottom;
        display:inline-grid;
        width: 100%;
        margin: 10px;
        border-style: solid;
        padding: 10px;
    }
}
@media screen and (min-width: 768px) {
    body {
        background-color: blue;
        font-size: 30px;
        box-sizing: border-box;
        position: absolute;
    }
    div.small {
        float:left;
        display:inline;
        width: 25%;
        margin: 10px;
        border-style: solid;
        padding: 10px;
    }
    div.medium {
        float:left;
        display:inline;
        width: 25%;
        margin: 10px;
        border-style: solid;
        padding: 10px;
    }
    div.large {
        float:left;
        display:inline;
        width: 25%;
        margin: 10px;
        border-style: solid;
        padding: 10px;
    }
}

